UCRepoClientApp/UCRepoClientApp/Resources/TC8Template/IEC62559UseCaseTemplate_V01.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Ronald Pasquarelli (private) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:UC="http://www.TC8.org/IEC62559/UseCaseTemplate/V01" targetNamespace="http://www.TC8.org/IEC62559/UseCaseTemplate/V01">
	<xsd:complexType name="Actor">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="furtherInformation" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Child" type="UC:Ref_Actor" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Parent" type="UC:Ref_Actor" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Role" type="UC:Role" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActorLibrary">
		<xsd:sequence>
			<xsd:element name="Domain" type="UC:ActorRef_Domain" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BusinessCase">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="condition">
		<xsd:sequence>
			<xsd:element name="assumption" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="trigerringEvent" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PreCondition" type="UC:Precondition" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="referencedActor" type="UC:Ref_Actor" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Diagram">
		<xsd:sequence>
			<xsd:element name="drawingType" type="UC:DrawingType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="URI" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Path to an image file
ex: http://www..../image.jpg
or
path to an XMI file with a relative diagram path from the root of the UML model. ex: http://www.../Model.xmi#Package1/Package2/.../DiagName</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="DrawingType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="UML"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Domain">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SubDomain" type="UC:Ref_Domain" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ParentDomain" type="UC:Ref_Domain" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DomainLibrary">
		<xsd:sequence>
			<xsd:element name="Domain" type="UC:Domain" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GeneralRemark">
		<xsd:sequence>
			<xsd:element name="content" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActorRef_Domain">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Actor" type="UC:Actor" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformationModel">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="namespace" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="referencedRequirement" type="UC:Ref_Requirement" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformationModelLibrary">
		<xsd:sequence>
			<xsd:element name="InformationModel" type="UC:InformationModel" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Narrative">
		<xsd:sequence>
			<xsd:element name="completeDescription" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="shortDescription" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Objective">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Precondition">
		<xsd:sequence>
			<xsd:element name="content" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_Actor">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_Domain">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_InformationModel">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_Requirement">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_RequirementCategory">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_Scenario">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_Step">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Ref_UseCase">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Reference">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="impact" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="originatorOrganisation" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="status" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="URI" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Requirement">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequirementCategory">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SubCategory" type="UC:Ref_RequirementCategory" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ParentCategory" type="UC:Ref_RequirementCategory" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Requirement" type="UC:Requirement" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequirementLibrary">
		<xsd:sequence>
			<xsd:element name="RequirementCategory" type="UC:RequirementCategory" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Role">
		<xsd:sequence>
			<xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Scenario">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="number" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="postCondition" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="preCondition" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="triggeringEvent" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="PrimaryActor" type="UC:Ref_Actor" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Predecessor" type="UC:Ref_Scenario" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Successor" type="UC:Ref_Scenario" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Step" type="UC:Step" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Step">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="event" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="number" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="service" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="InformationReceiver" type="UC:Ref_Actor" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="InformationProducer" type="UC:Ref_Actor" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="InformationModel" type="UC:Ref_InformationModel" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Requirement" type="UC:Ref_Requirement" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Successor" type="UC:Ref_Step" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Precessor" type="UC:Ref_Step" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UseCase">
		<xsd:sequence>
			<xsd:element name="classification" type="UC:UseCaseClassification" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="keywords" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="levelOfDepth" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="namespace" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="prioritisation" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="scope" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="viewPoint" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="BusinessCase" type="UC:BusinessCase" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Condition" type="UC:condition" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Diagram" type="UC:Diagram" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="GeneralRemark" type="UC:GeneralRemark" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Narrative" type="UC:Narrative" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RelatedObjective" type="UC:Objective" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Actor" type="UC:Ref_Actor" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PrimaryDomain" type="UC:Ref_Domain" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AdditionalDomain" type="UC:Ref_Domain" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Reference" type="UC:Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Scenario" type="UC:Scenario" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="UseCaseRelation" type="UC:UseCaseRelation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="VersionInformation" type="UC:VersionInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="UseCaseClassification">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Generic"/>
			<xsd:enumeration value="National"/>
			<xsd:enumeration value="Regional"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="UseCaseLibrary">
		<xsd:sequence>
			<xsd:element name="UseCase" type="UC:UseCase" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UseCaseRelation">
		<xsd:sequence>
			<xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RelatedUseCase" type="UC:Ref_UseCase" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UseCaseRepository_Type">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ActorLibrary" type="UC:ActorLibrary" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DomainLibrary" type="UC:DomainLibrary" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="InformationModelLibrary" type="UC:InformationModelLibrary" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="RequirementLibrary" type="UC:RequirementLibrary" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="UseCaseLibrary" type="UC:UseCaseLibrary" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VersionInformation">
		<xsd:sequence>
			<xsd:element name="approvalStatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="areaOfExpertise" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="changes" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="date" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="domainExpert" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="title" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="UseCaseRepository" type="UC:UseCaseRepository_Type"/>
</xsd:schema>
